<div id="main">
    <div>
      <app-login onLoggedIn="refresh()"/>
    </div>
    <div>
      <button (click)="refresh()">Refresh</button>
    </div>
    <div>
        <h1>Groups</h1>
        @for (group of groups(); track group.id) {
          <div>
            <h2>{{ group.name }} {{ group.id }}</h2>
            @if (ownedGroupIds().includes(group.id)) {
              <div>
                <button (click)="removeGroup(group.id)">Remove</button>
                | <button (click)="resetGroup(group.id)">Reset</button>
                | <button (click)="matchGroup(group.id)">Match</button>
              </div>
            }
            <div>
              Matches:
              <ul>
                @for (match of group.latest_matches; track match.id) {
                  <li>
                    @if (match.person1) {
                      {{ match.person1?.display_name }},
                    }
                    @if (match.person2) {
                      {{ match.person2?.display_name }},
                    }
                    @if (match.person3) {
                      {{ match.person3?.display_name }}
                    }
                  </li>
                }
              </ul>
            </div>
            <div>
              People:
              <ul>
                @for (person of group.people; track person.id) {
                  <li>{{ person.display_name }}</li>
                }
              </ul>
            </div>
          </div>
        }
    </div>
    <div>
      <h1>Register</h1>
      @for (group of groups(); track group.id) {
        <div>
          {{ group.name }} <button (click)="join_group()">Join</button>
        </div>
      }
    </div>
    <div>
      <h1>Admin</h1>
      <div>
        New Group Name - {{ newGroupName.value }}
        <input type="text" [formControl]="newGroupName">
        <button (click)="addGroup()">Add</button>
      </div>
      <div>
        Owned Groups: {{ ownedGroupIds() }}
      </div>
    </div>
</div>

<router-outlet />
