<tabset>
    <tab heading="Groups">
        <h2>Groups</h2>
        <span>{{message}}</span>
        <form ng-submit="runMatch()">
            <select ng-model="group_view.selectedGroup" 
                    ng-options="group as group.name for group in groups"
                    ng-change="fetchGroupLatestResults()">
            </select>
            <input type="submit" value="Match"/>
            <a href="#/groups/{{group_view.selectedGroup.id}}/members/">Members</a>
        </form>
        <div>
            <div>
                Name: {{group_view.selectedGroup.name}}
            </div>
            <div>
                Match-ups:
                <ol>
                    <li ng-repeat="match in group_view.selectedResults.matches">{{match.person1.name}}, {{match.person2.name}}, {{match.person3.name}}
                </ol>
            </div>
        </div>
    </tab>
    <tab heading="Register">
        <h2>Register</h2>

        <form ng-submit="addUser()">
            Name <input type="text" ng-model="register.add_person_name"/>
            Email <input type="text" ng-model="register.add_person_email"/>
            Group <select ng-model="register.add_person_group" 
                          ng-options="group as group.name for group in groups">
            </select>
            <input type="submit" value="Add"/>
        </form>
        <span>{{register.add_person_results}}</span>
    </tab>
    <tab heading="Admin">
        <h2>Admin</h2>

        <p>Name:{{admin.add_group_name}}</p>
        <form ng-submit="addGroup()">
            Group <input type="text" ng-model="admin.add_group_name"/>
            <input type="submit" value="Create"/>
        </form>
    </tab>
</tabset>

