<tabset>
    <tab heading="Groups">
        <h2>Groups</h2>
        <select ng-model="group_view.selectedGroup" 
                ng-options="group as group.name for group in current_user.member_groups"
                ng-change="fetchGroupResults()">
        </select>
        <div>
            <div>
                Name: {{group_view.selectedGroup.name}}
            </div>
            <div>
                Match-ups:
                <ol>
                    <li ng-repeat="match in group_view.selectedResults.matches">
                        {{match.person1.user.first_name}}  {{match.person1.user.last_name}}, 
                        {{match.person2.user.first_name}}  {{match.person2.user.last_name}}, 
                        {{match.person3.user.first_name}}  {{match.person3.user.last_name}}
                    </li>
                </ol>
            </div>
        </div>
    </tab>
    <tab heading="Register">
        <h2>Register</h2>

        <alert ng-repeat="msg in register.alerts" type="{{msg.type}}" 
               close="closeRegisterMsg()">{{msg.message}}</alert>
        <form ng-submit="addUser()">
            Group <select ng-model="register.add_person_group" 
                          ng-options="group as group.name for group in groups">
            </select>
            <input type="submit" value="Join"/>
        </form>
        My Groups:
        <ol>
            <li ng-repeat="group in current_user.member_groups">
                {{group.name}}
                <a href="" ng-click="removeUserFromGroup($index)">Leave</a>
            </li>
        </ol>
    </tab>
    <tab heading="Admin">
        <h2>Admin</h2>

        <alert ng-repeat="msg in admin.alerts" type="{{msg.type}}" 
               close="closeAdminMsg()">{{msg.message}}</alert>
        <form ng-submit="addGroup()">
            New Group Name <input type="text" ng-model="admin.add_group_name"/>
            <input type="submit" value="Create"/>
        </form>
        Owned Groups:
        <ol>
            <li ng-repeat="group in current_user.owner_groups">
                {{group.name}}
                <a href="" ng-click="removeGroup($index)">Remove</a> |
                <a href="" ng-click="runMatchForMyGroup($index)">Match</a>
            </li>
        </ol>
        <div>
            <select ng-model="admin.selectedGroup" 
                    ng-options="group as group.name for group in current_user.owner_groups"
                    ng-change="fetchAdminResults()">
            </select>
            <a href="#/groups/{{admin.selectedGroup.id}}/members/">Members</a>
            <div>
                Name: {{admin.selectedGroup.name}}
            </div>
            <div>
                Match-ups:
                <ol>
                    <li ng-repeat="match in admin.selectedResults.matches">
                        {{match.person1.user.first_name}}  {{match.person1.user.last_name}}, 
                        {{match.person2.user.first_name}}  {{match.person2.user.last_name}}, 
                        {{match.person3.user.first_name}}  {{match.person3.user.last_name}}
                    </li>
                </ol>
            </div>
        </div>
    </tab>
</tabset>

