<!DOCTYPE html>
<html ng-app="matchApp">
    <head>
        <title>Match</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
        <script src="/static/match/js/match.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <style>
            .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        </style>
    </head>
    <body>
        <h1>Prayer Circle</h1>
        <div>
            {% if user and not user.is_anonymous %}
            Hello {{ user.get_full_name|default:user.username }}!
            <a href="{% url 'auth:logout' %}?next={{ request.path}}">Logout</a>

            <div ng-view></div>

            {% else %}
            <ul>
                <li>
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path}}">Login with Facebook</a>
                </li>
                <li>
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path}}">Login with Google</a>
                </li>
                <li>
                    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path}}">Login with Twitter</a>
                </li>
            </ul>
            {% endif %}
        </div>

    </body>
</html>
